.cadastro-aluno .form-control {
  border: none; /* Remove as bordas */
  border-radius: 0; /* Remove bordas arredondadas */
  box-shadow: none; /* Remove sombra padrão */
  padding: 10px; /* Padding consistente */
  transition: border-color 0.3s; /* transiçao */
  max-width: 100px;
}

.cadastro-aluno .form-control:focus {
  border-bottom: 1px solid #007bff; /* Cor de destaque ao focar */
  box-shadow: none; /* Remove sombra ao focar */
  outline: none; /* Remove outline padrão */
}

.cadastro-aluno .form-group {
  margin-bottom: 2px; /* espaçamento entre os campos */
}

.cadastro-aluno {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.button {
  margin-left: 100px;
}
